html,
body {
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  cursor:inherit;
  background: black;
  background: linear-gradient(to bottom, #000000 0%, #2e4f9d 100%);
}


.moon{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: 5%;
  margin-left: 10%;
  background: url(assets/moon.png);
  background-size: cover;
  background-repeat: repeat-x;
  position: fixed;
  animation: moon-rotation 90s linear infinite;
  z-index: 999;
  box-shadow: inset 6px 0 8px black,
              inset 20px 0 12px rgba(0, 0, 0,0.9),
              inset -20px 0 12px rgba(248, 248, 213,0.2);


}

.moon::before{
  content:"";
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%); 
  border-radius: 50%;
  width: 95px;
  height: 95px;
  box-shadow: -12px 0 8px black ;
}

@keyframes moon-rotation {
  from {background-position:-500px center;} 
  to {background-position: 495px center;}

  
}


.nasa_logo{
  height: auto;
  width: 500px;
  position: fixed;
  margin-left: 33%;
  margin-top: 11%;

}

.input_container{
  position: fixed;
  margin-top: 29.1%;
  margin-left: 26.2%;
  z-index: 999;
  display:flex;
  align-items: center;
}

.btn1{
  color: rgb(46, 34, 78);
  margin-top: 100%;
  margin-left: 330%;
  z-index: 1200;
  border: 1px solid white ;
  text-decoration: none;
  background-color: white;
  height: 20px;
  border-radius: 10px;
  width: 50px;
}

.fa-magnifying-glass{
  z-index: 99;
  top: 0;
  padding-left: 20px;
}

.input_text{
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  z-index: 98;
  position: fixed;
  width: 700px;
  height: 34px;
  padding: 5px 20px 5px 40px;
  font-size: 16px;
  border-radius: 30px;
}

.input_text:focus{
  outline:none;
}




.filter {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50px;
  left: 0;
  background:  #fe5757;
  animation: colorChange 30s ease-in-out infinite;
  animation-fill-mode: both;
  mix-blend-mode: overlay;
  z-index: 0;
}




@keyframes colorChange {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: .9;
  }
}

.landscape {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://openclipart.org/image/2400px/svg_to_png/250847/Trees-Landscape-Silhouette.png);
  background-size: 1450px 350px;
  background-repeat: repeat-x;
  background-position: center bottom;
}

footer{
  position: fixed;
  z-index: 997;
  width: 100%;
  height: 10px;
  bottom: 0;
  background-color: black;
}

